@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

h2 {
    margin-bottom: 5px;
}


.wrapper {
    display: grid;
    grid-template: 1fr 6fr/1fr 4fr;
}

.header {
    padding-left: 1em;
    padding-right: 1em;

    display: grid;
    grid-template: 1fr 1fr/6fr 1fr 1fr 1fr
}

.profile-header {
    grid-column: 3/5;
}

.header-buttons {
    grid-column: 2/5;
}

.search img, .notification-bell {
    max-height: 1.5em;
}

.search {
    display: flex;

}

.notification-bell {
    display: flex;
    justify-content: center;
}

.profile-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile-header img {
    max-height: 3em;
}

.greeting {
    display: grid;
    grid-template: 1fr 1fr/ 3.5em 1fr;
}

.greeting img {
    max-height: 3em;
}

.greeting > .name{
    font-size: 20px;
    font-weight: bold;
}

.profile-pic {
    grid-row: 1/-1;
}

.header button {
   padding-left: 2em;
   padding-right: 2em;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
    background-color: #1992d4;
    color: white;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.header-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 5px;
}

form {
    flex-grow: 1;
    display: flex;
}

input {
    flex-grow: 1;
    height: 1.5em;
    background-color: lightgray;
    border: none;
    border-radius: 10px;
}

.sidebar {
    grid-row: 1 /5;

    display: grid;
    grid-template-rows: 50px 1fr;

    background-color: #1992d4;
    color: white;

    min-height: 100vh;
    padding-left: 2em;
    padding-top: 1em;
}

nav {
    display:flex;
    flex-direction: column;
    align-items: flex-start;

    font-size: large;
}

.logo {
    font-size: x-large;
}

nav > a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: white;
    text-decoration: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > a > img {
    max-height: 1.5em;
    stroke: white;
}

.header {
    grid-column: 2/-1;

    padding-top: 1em;
}

.main {
    background-color: #e2e8f0;
    padding: 10px 10px 10px 10px;

    grid-area: 2/2/-1/-1;

    display: grid;
    grid-template: 1fr/3fr 1fr;
    gap: 15px;
}

.card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 1em;
}

.card {
    background-color: #ffffff;
    padding: 1em 2em;
    border-radius: 10px;

    box-shadow: 2px 2px grey;
}

.section-wrapper {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1em 1em 1em 1em;

    box-shadow: 2px 2px 2px 2px grey;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 1em;
}